<div class="row my-pronos">
  <div class="col-8">
    <div class="matches">
      <h1>Mes pronos</h1>
      <% @league.competition.matches.each do |match| %>
        <%= render "shared/forecast_card", match: match, versus_image_path: "versus.png" %>
      <% end %>
    </div>
  </div>

  <div class="col-4">
    <div class="classement">
      <h1>Classement</h1>
      <div class="card-match border border-secondary p-2 my-3">
        <p>1: <%= User.first.username %></p>
        <p>2: <%= User.second.username %></p>
        <p>3: <%= User.third.username %></p>
        <p>4: <%= User.last.username %></p>
      </div>
    </div>

    <%= link_to @league.competition.name, @league.competition %>

  </div>
</div>
