<div class="container">
  <div class="row my-pronos mt-3">
    <div class="col-9">
      <div class="matches">
        <h1 class="mb-4">Mes pronos</h1>
        <% @league.competition.matches.live.each do |match| %>
          <%= render 'forecasts/card_forecast', match: match, versus_image_path: "versus.png" %>
        <% end %>
        <% @league.competition.matches.upcoming.each do |match| %>
          <%= render 'forecasts/card_forecast', match: match, versus_image_path: "versus.png" %>
        <% end %>
        <% @league.competition.matches.finished.each do |match| %>
          <%= render 'forecasts/card_forecast', match: match, versus_image_path: "versus.png" %>
        <% end %>
      </div>
    </div>

    <div class="col-3">
      <div class="classement">
        <h1>Classement</h1>
        <div class="card-match border border-secondary p-2 my-3">
          <ol><% @league.ranking.each do |ranked_user| %>
            <li><%= ranked_user.username %></li>
          <% end %></ol>
        </div>

        <%= link_to @league.competition.name, @league.competition, class: "btn btn-outline-warning" %>

      </div>
    </div>
  </div>
</div>
