  <div class="row competition-page">
    <div class="col-9">
      <div class="competition-header">
        <h1><%= @competition.name %></h1>
        <h3><%= @competition.game.full_name %></h3>
      </div>

      <div class="competition-infos">
        <p><%= @competition.location %></p>
        <div class="start-end-dates">
          <p>Début : <%= @competition.start_date %></p>
          <p>Fin : <%= @competition.end_date %></p>
        </div>
        <p><%= @competition.description %></p>
      </div>

      <div class="matches">
        <% @competition.matches.each do |match| %>
          <div class="card-match border border-secondary p-2 my-3">
            <div class="card-forecast text-center d-flex align-items-center">
              <div class="border w-75 mx-auto border-primary">
                <h3><%= match.team_matches[0].team.name %></h3>
                <p><%= match.team_matches[0].team.nationality %></p>
              </div>
              <p class="px-2">vs</p>
              <div class="border w-75 mx-auto border-danger">
                <h3><%= match.team_matches[1].team.name %></h3>
                <p><%= match.team_matches[1].team.nationality %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-3">
      <div class="border border-secondary text-center">
        <p><%= link_to "Créer une ligue", new_competition_league_path(@competition) %></p>
      </div>
      <div class="border border-secondary text-center">
        <p>Rejoindre la ligue générale</p>
      </div>
      <div class="border border-secondary text-center">
        <p><%= link_to "Ma ligue 1", competition_league_path(@competition) %></p>
      </div>
      <div class="border border-secondary text-center">
        <p><%= link_to "Ma ligue 1", competition_league_path(@competition) %></p>
      </div>
    </div>
  </div>
