<div class="<%= banner_images(@competition.game.acronym) %>">
  <div class="container">
    <div class="row competition-banner">
      <div class="banner-head d-flex">
        <div class="status-name d-flex">
          <div class="competition-status d-flex">
            <i class="fas fa-circle"></i>
            <span>EN COURS</span>
          </div>
          <h2><%= @competition.name %></h2>
        </div>
        <%= image_tag(logo_images(@competition.game.acronym), class: "game-logo") %>
      </div>
      <h5><%= @competition.game.full_name %></h5>
      <table class="competition-infos">
        <tbody>
          <tr>
            <td class="infos-item first-item">
              <p class="item-head">Début</p>
              <p class="item-content"><%= @competition.start_date.strftime('%d.%m.%Y') %></p>
            </td>
            <td class="infos-item second-item">
              <p class="item-head">Matchs</p>
              <p class="item-content"><%= @competition.matches.count %></p>
            </td>
            <% if @competition.url %>
              <td class="infos-item third-item">
                <%= link_to "Site officiel", @competition.url, target: "_blank", class: "btn btn-info" %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>

      <div class="banner-leagues-list d-flex flex-wrap">
        <% current_user.leagues.where(competition: @competition).each do |league| %>
        <%= render 'shared/banner_league_card', league: league %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row competition-content">

    <div class="col-8 d-flex flex-column align-items-center">
      <%= render 'shared/forecasts_list' %>
    </div>

    <div class="col-4 d-flex flex-column align-items-center">
      <div class="border border-secondary text-center">
        <%= link_to new_league_path(competition_id: @competition.id), class: "card-link" do %>
        <%= render 'shared/card_create' %>
        <% end %>
      </div>
      <br>

      <% unless current_user.already_joined? @competition.general_league %>
        <div class="border border-secondary text-center">
          <%= link_to join_league_path(league: {slug: @competition.general_league.slug}), class: "card-link", method: :post do %>
            <%= render 'shared/card_join_general', league: @competition.general_league %>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>
