<div class="competition-banner-img">
  <div class="container">
    <div class="row competition-banner">
      <div class="banner-head d-flex">
        <div class="status-name d-flex">
          <div class="competition-status d-flex">
            <i class="fas fa-circle"></i>
            <span>EN COURS</span>
          </div>
          <h2><%= competition.name %></h2>
        </div>
        <%= image_tag("games/cs-go-logo.png", class: "game-logo") %>
      </div>
      <h5><%= competition.game.full_name %></h5>
      <table class="competition-infos">
        <tbody>
          <tr>
            <td class="infos-item first-item">
              <p class="item-head">Début</p>
              <p class="item-content"><%= competition.start_date.strftime('%d.%m.%Y') %></p>
            </td>
            <td class="infos-item second-item">
              <p class="item-head">Organisateur</p>
              <p class="item-content">www.eddy-malou@ovanium.rdc</p>
            </td>
            <td class="infos-item third-item">
              <p class="item-head">Matchs</p>
              <p class="item-content"><%= competition.matches.count %></p>
            </td>
          </tr>
        </tbody>
      </table>

      <p><%= competition.description %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row competition-content">

    <div class="col-8">
      <div class="forecasts-list">
        <% competition.matches.each do |match| %>
        <%= render 'forecasts/card_forecast', match: match, versus_image_path: "versus.png" %>
        <% end %>
      </div>
    </div>

      <!-- TWITCH LIVE -->
      <!-- <iframe
        src="https://player.twitch.tv/?channel=esl_csgo&muted=true"
        height="480"
        width="853"
        frameborder="0"
        scrolling="no"
        allowfullscreen="true">
      </iframe> -->

    <div class="col-4 d-flex flex-column align-items-end">
      <div class="border border-secondary text-center">
        <%= link_to new_league_path(competition_id: competition.id), class: "card-link" do %>
        <%= render 'shared/card_create' %>
        <% end %>
      </div>

      <% unless current_user.already_joined? competition.general_league %>
        <div class="border border-secondary text-center">
          <%= link_to join_league_path(league: {slug: competition.general_league.slug}), class: "card-link", method: :post do %>
            <%= render 'shared/card_join_general' %>
          <% end %>
        </div>
      <% end %>

      <% current_user.leagues.where(competition: competition).each do |league| %>
        <%= render 'shared/league_card', league: league %>
      <% end %>
    </div>

  </div>
</div>
