<div class="row justify-content-center mt-4">
  <div class="col-12">

    <%= render 'shared/searchbar' %>
    <% if @query && !@no_results %>
      <% @competitions.each do |competition| %>
        <%= render 'shared/searchresult', competition: competition %>
      <% end %>
    <% end %>
    <br>

    <% @user.leagues.each do |league| %>
        <%= render 'shared/league_card', league: league %>
        <br>
    <% end %>

    <br>
    <%= link_to new_league_path, class: "card-link" do %>
      <%= render 'shared/card_create' %>
    <% end %>
    <br>
    <%= render 'shared/card_join' %>
    <br>
    <br>

  </div>
</div>
