<%= link_to league, class: 'league-link' do %>
  <div class="league-card">
    <h4 class="league-title"><%= league.name %></h4>
    <p class="league-game"><%= league.competition.game.full_name %></p>
    <p class="league-competition"><%= league.competition.name %></p>
    <p class="league-competition-date">
      <%= league.competition.start_date.strftime('%d-%m-%Y') %>
      au
      <%= league.competition.end_date.strftime('%d-%m-%Y') %>
    </p>
    <div class="d-flex justify-content-between">
      <p class="league-slug">
        <i class="fas fa-hashtag"></i>
        <%= league.slug || 'K2000' %>
      </p>
      <p class="league-members-count">
        <%= league.users.count %>
        <i class="fas fa-user-friends"></i>
      </p>
    </div>
  </div>
<% end %>
