<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
    <%= image_tag "logo_elaborated.png" %>
    <h3>PronostkR</h3>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <span id="page_title">
      <% if @page_title %>
        <%= @page_title %>
      <% end %>
      
      <% if @page_slug %>
        <%= @page_slug %>
      <% end %>
    </span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <%= link_to "#", class: "nav-link" do %>
          LIVE <i class="fas fa-circle"></i>
        <% end %>
      </li>

      <% if user_signed_in? %>

        <li class="nav-item">
          <%= link_to "#", class: "nav-link" do %>
            <i class="fas fa-bell"></i>
          <% end %>
        </li>

        <li class="nav-item dropdown">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= current_user.photo.attached? ? current_user.photo.service_url : 'https://res.cloudinary.com/pil0u/image/upload/v1583067702/user_jfafd6.png' %>" />
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profil", edit_user_registration_path(current_user), class:'dropdown-item' %>
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class:'dropdown-item' %>
          </div>
        </li>

      <% else %>

        <li class="nav-item">
          <%= link_to "Inscription", new_user_registration_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
        </li>

      <% end %>
    </ul>
  </div>
</div>
