<div class="row">
  <div class="col-12">
    <h1>Pages#home / Amusons-nous avec les composants</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
  </div>
</div>

<div class="row">
  <div class="col-12">

    ROBIN

  </div>
</div>

<p>--------------------------------------------------------</p>

<div class="row">
  <div class="col-12">

    MAXIME

  </div>
</div>

<p>--------------------------------------------------------</p>

<div class="row">
  <div class="col-12">
    <h3>ALEX</h3>

    <%= render "shared/league_card", league: League.last %>

    <p>----------</p>

    <%= render "shared/forecast_card", match: Match.last, versus_image_path: "versus.png" %>
    <%= render "shared/forecast_card", match: Match.last, versus_image_path: "versus2.png" %>
    <%= render "shared/forecast_card", match: Match.last, versus_image_path: "white_bolt.png" %>
    <%= render "shared/forecast_card", match: Match.last, versus_image_path: "white-swords.png" %>

  </div>
</div>

<p>--------------------------------------------------------</p>

<div class="row">
  <div class="col-12">

    PILOU

  </div>
</div>
