<div class="row">
  <div class="col-12">
    <h1>Pages#home / Amusons-nous avec les composants</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
  </div>
</div>

<div class="row">
  <div class="col-12">

    ROBIN

  </div>
</div>

<p>--------------------------------------------------------</p>

<div class="row">
  <div class="col-12">

    MAXIME

  </div>
</div>

<p>--------------------------------------------------------</p>

<div class="row">
  <div class="col-12">
    <h3>ALEX</h3>

    <div class="league-card">
      <h4 class="league-title">La ligue de l'ovanium</h4>
      <p class="league-game">League of Legends</p>
      <p class="league-competition">LCS 2020</p>
      <p class="league-competition-date">20/02/2020 au 30/06/2020</p>
      <div class="d-flex justify-content-between">
        <p class="league-slug">#F58S9P3A</p>
        <p class="league-members-count">15 <i class="fas fa-user-friends"></i></p>
      </div>
    </div>

    <p>----------</p>

    <div class="forecast-card d-flex justify-content-around align-items-center">
      <div class="team-card">
        <p class="team-name">Fnatic</p>
        <%= image_tag "teams/fnatic_logo.png", class: "team-logo team-a-logo" %>
      </div>
      <div class="versus-img">
        <%= image_tag "versus.png" %>
      </div>
      <div class="team-card">
        <%= image_tag "teams/astralis_logo.png", class: "team-logo team-b-logo" %>
        <p class="team-name">Astralis</p>
      </div>
      <div class="countdown-timer">
        <p>08:05:11</p>
      </div>
    </div>
    <div class="forecast-card d-flex justify-content-around align-items-center">
      <div class="team-card">
        <p class="team-name">Fnatic</p>
        <%= image_tag "teams/fnatic_logo.png", class: "team-logo team-a-logo" %>
      </div>
      <div class="versus-img">
        <%= image_tag "versus2.png" %>
      </div>
      <div class="team-card">
        <%= image_tag "teams/astralis_logo.png", class: "team-logo team-b-logo" %>
        <p class="team-name">Astralis</p>
      </div>
      <div class="countdown-timer">
        <p>08:05:11</p>
      </div>
    </div>
    <div class="forecast-card d-flex justify-content-around align-items-center">
      <div class="team-card">
        <p class="team-name">Fnatic</p>
        <%= image_tag "teams/fnatic_logo.png", class: "team-logo team-a-logo" %>
      </div>
      <div class="versus-img">
        <i class="fa fa-bolt"></i>
      </div>
      <div class="team-card">
        <%= image_tag "teams/astralis_logo.png", class: "team-logo team-b-logo" %>
        <p class="team-name">Astralis</p>
      </div>
      <div class="countdown-timer">
        <p>08:05:11</p>
      </div>
    </div>
    <div class="forecast-card d-flex justify-content-around align-items-center">
      <div class="team-card">
        <p class="team-name">Fnatic</p>
        <%= image_tag "teams/fnatic_logo.png", class: "team-logo team-a-logo" %>
      </div>
      <div class="versus-img">
        <%= image_tag "white-swords.png" %>
      </div>
      <div class="team-card">
        <%= image_tag "teams/astralis_logo.png", class: "team-logo team-b-logo" %>
        <p class="team-name">Astralis</p>
      </div>
      <div class="countdown-timer">
        <p>08:05:11</p>
      </div>
    </div>

  </div>
</div>

<p>--------------------------------------------------------</p>

<div class="row">
  <div class="col-12">

    PILOU

  </div>
</div>
