<div class="forecast-card d-flex justify-content-around align-items-center">
  <%= render 'forecasts/form', match: match %>

  <div class="team-card <%= %> " id="team-a" data-team-id="<%= match.teams[0].id %>">
    <p class="team-name"><%= match.teams[0].name %></p>
    <%= image_tag "teams/fnatic_logo.png", class: "team-logo team-a-logo" %>
  </div>

  <div class="versus-img">
    <%= image_tag versus_image_path %>
  </div>

  <div class="team-card" id="team-b" data-team-id="<%= match.teams[1].id %>">
    <%= image_tag "teams/astralis_logo.png", class: "team-logo team-b-logo" %>
    <p class="team-name"><%= match.teams[1].name %></p>
  </div>

  <div class="match-status">
    <%= render 'forecasts/match_status', match: match %>
  </div>
</div>
